In [1]:
print("Hello, World!")

Hello, World!

In [2]:
import sys

print(sys.version)

3.12.3 | packaged by conda-forge | (main, Apr 15 2024, 18:20:11) [MSC v.1938 64 bit (AMD64)]

In [3]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [4]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

In [5]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [6]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (3430240237.py, line 3)

In [7]:
x = 5
y = "Hello, World!"

In [8]:

print("Hello, World!")

Hello, World!

In [9]:
print("Hello, World!")

Hello, World!

In [10]:

print("Cheers, Mate!")

Cheers, Mate!

In [11]:

print("Hello, World!")

Hello, World!

In [12]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [13]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [14]:
x = 4     
x = "Sally" 
print(x)

Sally

In [15]:
x = str(3)    
y = int(3)    
z = float(3)

In [16]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [58]:
x = "John"

x = 'John'
print(x)

John

In [59]:
a = 4
A = "Sally"
print(a, A)

4 Sally

In [19]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [20]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

In [55]:
myVariableName = "John"
print(myVariableName)

John

In [56]:
MyVariableName = "John"
print(MyVariableName )

John

In [57]:
my_variable_name = "John"
print(my_variable_name)

John

In [24]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [25]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [26]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [27]:
x = "Python is awesome"
print(x)

Python is awesome

In [28]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [29]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [30]:
x = 5
y = 10
print(x + y)

15

In [31]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
x = 5
y = "John"
print(x, y)

5 John

In [33]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [34]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [35]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [36]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [37]:
x = 5
print(type(x))

<class 'int'>

In [38]:
x = "Hello World"

print(x)
print(type(x))

Hello World
<class 'str'>

In [39]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [40]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [41]:
x = 1j
print(x)
print(type(x))

1j
<class 'complex'>

In [42]:
x = ["apple", "banana", "cherry"]


print(x)


print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [43]:
x = ("apple", "banana", "cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [44]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [46]:
 x = {"name" : "John", "age" : 36} 
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [47]:
x = {"apple", "banana", "cherry"}
print(x)
print(type(x))

{'apple', 'cherry', 'banana'}
<class 'set'>

In [48]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>

In [49]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [50]:
x = b"Hello"
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [51]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [52]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x0000020D4CA29B40>
<class 'memoryview'>

In [53]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [54]:
x = 1    
y = 2.8  
z = 1j   
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [60]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [61]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [62]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [63]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [64]:
x = 1    
y = 2.8  
z = 1j   
a = float(x)
b = int(y)
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [65]:
import random

print(random.randrange(1, 10))

2

In [68]:
x = int(1)   
y = int(2.8) 
z = int("3") 
print(x)
print(y)
print(z)

1
2
3

In [69]:
x = float(1)     
y = float(2.8)   
z = float("3") 
w = float("4.2") 
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [70]:
x = str("s1") 
y = str(2)    
z = str(3.0) 
print(x)
print(y)
print(z)

s1
2
3.0

In [71]:
print("Hello")
print('Hello')

Hello
Hello

In [72]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [73]:
a = "Hello"
print(a)

Hello

In [74]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [75]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [76]:
a = "Hello, World!"
print(a[1])

e

In [77]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [78]:
a = "Hello, World!"
print(len(a))

13

In [79]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [80]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [81]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [82]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [83]:
b = "Hello, World!"
print(b[2:5])

llo

In [84]:
b = "Hello, World!"
print(b[:5])

Hello

In [85]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [86]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [87]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [88]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [89]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [90]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [91]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [92]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [93]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [94]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [95]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [96]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [97]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [98]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [99]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [100]:
txt = "We are the so-called \"Vikings\" from the north."

In [101]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [102]:
txt = 'It\\s alright.'
print(txt)

It\s alright.

In [103]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [104]:
txt = "python is FUN!"

x = txt.capitalize()

print (x)

Python is fun!

In [105]:
txt = "36 is my age."

x = txt.capitalize()

print (x)

36 is my age.